---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
  <main>
    <div class="position-relative">
        {% include intro.html %}
    </div>
        {% include courses.html %}
        {% include testimonials.html %}
        {% include meetups.html %}
        {% include blogs-webinars.html %}
        {% include customers.html %}
  </main>

{% include footer.html %}
  <!-- Core -->
  <script src="{{site.baseurl}}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/vendor/popper/popper.min.js"></script>
  <script src="{{site.baseurl}}/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Argon JS -->
  <script src="{{site.baseurl}}/assets/js/argon.js?v=1.0.1"></script>

  {% if page.utl == '/' %}
  <script>
      $('.carousel').carousel({
          cycle: "true"
    })
  </script>

  <script>
  $(document).ready(function() {
   $('video').prop('muted',true).play()
});
  </script>
  {% endif %}
</body>

</html>
