<footer class="footer pt-md">
  <div class="container pb-sm">
    <div class="row">
      <div class="col-md-5">
        <div class="logo-box">
          <img class="pb-3" width="120" src="{{site.baseurl}}{{site.logo-white}}" alt="{{site.title}}">
          <p>{{site.footer-description}}</p>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul>

          <li><a href="/co-creation/">Co-Creation</a></li>

          <li><a href="/innovation/">Innovation</a></li>

          <li><a href="/ecosystem-design-call/">Ecosystem Design Call</a></li>
          
          <li><a href="/resources/">Resources</a></li>
          
          <li><a href="/about/">About</a></li>
          
          <li><a href="/privacy/">Privacy</a></li>
          

        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email:<a href="mailto:{{site.email}}"> {{site.email}}</a></p>
        <p>Phone:<a href="tel:{{site.phone}}"> {{site.phone}}</a></p>
        <p>{{site.address}}</p>

        <ul class="social">
            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.linkedin}}" target="_blank" data-toggle="tooltip" title="Follow us on LinkedIn">
                <i class="fa fa-2x fa-linkedin-square"></i>
                <span class="nav-link-inner--text d-lg-none">Linkedin</span>
              </a>
            </li>

<!--
            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.twitter}}" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                <i class="fa fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
-->

<!--
            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.github}}" target="_blank" data-toggle="tooltip" title="Star us on Github">
                <i class="fa fa-github"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>
-->

            <li class="d-inline-block">
              <a class="nav-link nav-link-icon" href="{{site.instagram}}" target="_blank" data-toggle="tooltip" title="Subscribe to Instagram">
                <i class="fa fa-2x fa-instagram"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
          </ul>

      </div>
    </div>



  </div>

  <div class="container-fluid dark">
    <div class="container pt-2 pb-2">
      <div class="row">
        <div class="col-md-12">
          <p class="copyright float-left">© {{'now' | date: '%Y'}}. All rights reserved</p>
          <p class="copyright float-right"> Developed by <a target="_blank" href="http://webjeda.com"><strong>webjeda</strong></a></p>
        </div>
      </div>
    </div>
  </div>

</footer>

