<section class="section pb-lg bg-gradient-warning">
  <div class="container">
   
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h2 class="display-3 text-white">Want to work with us?</h2>
        <p class="lead text-white">Your project is very important to us.</p>
      </div>
    </div>
   

    <div class="row justify-content-center align-items-center">
          <div class="col-lg-10">
              <div class="card-body px-5">
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-user-run text-success"></i></span>
                    </div>
                    <input class="form-control" placeholder="Your name" type="text" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83 text-success"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email address" type="email" required>
                  </div>
                </div>
                
                 <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone text-success"></i></span>
                    </div>
                    <input class="form-control" placeholder="Phone number" type="tel">
                  </div>
                </div>
                
                 <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-info-circle text-success"></i></span>
                    </div>
                    <select class="form-control" name="" placeholder="">
                        <option value="" disabled selected>How may I help?</option>
                        <option name="" data-value="one">Coaching</option>
                        <option name="" data-value="two">Consulting</option>
                        <option name="" data-value="three">Projects</option>
                        <option name="" data-value="three">Data & Algos</option>
                        <option name="" data-value="three">Partnership</option>
                        <option name="" data-value="three">Other</option>
                    </select>
                  </div>
                </div>

                 <div class="form-group">
                  <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                </div>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input" checked>
                    </div>
                    </div>
                    <input type="text" class="form-control" aria-label="" placeholder=" I’d like to receive weekly Updates & Innovation Best Practices" disabled>
                </div>
                
                
                <div>
                  <button type="button" class="btn btn-success btn-round btn-block btn-lg">Send Message</button>
                </div>
              </div>
            </div>
          </div>   

  </div>  
</section>
