<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-fixed navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
  <div class="container">
    <a class="navbar-brand mr-lg-5" href="{{site.baseurl}}/">
      <img src="{{site.baseurl}}/assets/img/brand/fake-logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="{{site.baseurl}}/">
              <img src="{{site.baseurl}}/assets/img/brand/fake-logo-color.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
      <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-inner--text">Co-Creation</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-inner--text">Innovation</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-inner--text">Ecosystem Design	Call</span>
          </a>
      </li>



        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Resources</span>
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Public</a>
            <a href="#" class="dropdown-item">Subscription</a>
            </div>
        </li>


        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">About</span>
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Me & Myself</a>
            <a href="#" class="dropdown-item">Partners</a>
            </div>
        </li>
      </ul>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">

              <li class="nav-item">
                <a class="d-inline-block text-white" href="#" data-toggle="tooltip" title="Switch to English">
                  <span class="nav-link-inner--text">en</span>
                </a><span class="text-white">/</span><a class="d-inline-block text-white" href="#" data-toggle="tooltip" title="Switch to German">
                  <span class="nav-link-inner--text">de</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="#" target="_blank" data-toggle="tooltip" title="Search">
                  <i class="ni ni-zoom-split-in"></i>
                  <span class="nav-link-inner--text d-lg-none">Search</span>
                </a>
              </li>

<!--
              <li class="nav-item">
                <div class="form-group">
                  <div class="input-group mb-4">
                    <input class="form-control" placeholder="Search" type="text">
                    <div class="input-group-append">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                    </div>
                  </div>
                </div>
              </li> -->

              <!-- <li class="nav-item d-none d-lg-block ml-lg-4">
                <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <i class="fa fa-cloud-download mr-2"></i>
                  </span>
                  <span class="nav-link-inner--text">Download</span>
                </a>
              </li> -->
            </ul>



    </div>
  </div>
</nav>
</header>
