  <section class="section section-lg">
   <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-10">
        <h2 class="display-3">What Do We Do?</h2>
        <p class="lead">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice.</p>
      </div>
    </div>
    <div class="row row-grid mt-5 text-center">
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle text-primary">
          <i class="ni ni-settings text-primary"></i>
        </div>
        <h5 class="mt-3">Innovation</h5>
        <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle text-primary">
          <i class="ni ni-ruler-pencil text-primary"></i>
        </div>
        <h5 class="mt-3">Co-Creation</h5>
        <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="col-lg-4">
        <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle text-primary">
          <i class="ni ni-atom text-primary"></i>
        </div>
        <h5 class="mt-3">Ecosystem</h5>
        <p class="mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  </section>