
<!-- Search Modal -->
<div class="container-fluid">
<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="search" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <div class="container mt-sm">
      <div class="modal-header">
          <input id="search-input" type="text" name="" value="" placeholder="Search" class="mt-md" autofocus>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

      </div>
      </div>

    </div>
  </div>
</div>
</div>
