.header-global {
    background: rgba(0, 0, 0, 0.2);
}

.nav-item {
  input {

  }
}


.intro {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .carousel-item {
    .image {
      width: 100vw;
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .carousel-control-prev, .carousel-control-next {
    opacity: 0.6;
  }

  .video-bg {
    width: 100vw;
    height: auto;
  }

  .video-content {
      position: absolute;
      top: 50%;
      left: 10%;
      padding: 30px;
      border-radius: .25rem;
      max-width: 600px;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;

      * {
        color: white;
      }
  }

}



// https://codepen.io/svnt/pen/beEgre

.dropdown-submenu {
    position: relative;

    .dropdown-menu {
      &:before {
        content: none;
      }
    }

    i.fa.fa-caret-right {
      float: right;
    }
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    visibility: visible;
    transform: translate(0, 0);
    animation: none;
    pointer-events: auto;
    opacity: 1;
}

.dropdown-submenu>a:after {
    // display: block;
    // content: " ";
    // float: right;
    // width: 0;
    // height: 0;
    // border-color: transparent;
    // border-style: solid;
    // border-width: 5px 0 5px 5px;
    // border-left-color: #ccc;
    // margin-top: 5px;
    // margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



// loader
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 99999999;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 999999999;
  left: 49vw;
  top: 49vh;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $brand-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $brand-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

// Go to Top

.scrollup {
		position: fixed;
    bottom: 10%;
    right: 3%;
    padding: 5px 15px;
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px;
    display: none;
    z-index: 999999;
      &:hover, &:active, &:focus {
        color: #fff;
  	    background-color: rgba(0,0,0,0.15);
      }
  }




.footer {
  padding-bottom: 0;
  background: #191d2f;

  p, li, a {
          font-size: $small-font-size;
    }

  h5 {
    font-weight: 600;
  }
  h5, a, li, p {
    color: #ddd;
  }

  ul {
     padding-left: 0.5em;
       @include media-query($on-palm) {
         padding-left: 1em;
       }
  }

  .social {
    padding: 0;

      .nav-link {
          padding: 0;
          margin-right: 10px;
      }
  }

  .logo-box {
    img {
      opacity: 0.7;
    }
  }

 .dark {
   background-color: #111;
   font-size: $small-font-size * 0.7;

   p {
     margin: 0;
   }
 }

}


.about-social-links {
  li {
    margin-right: 10px;
  }
}

#search {
  padding: 0 !important;

  .modal {
    // background: #fff !important;
  }
  .modal-dialog {
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 !important;
  }

  .modal-content {
    background: rgba(0, 0, 0, 0.68);
    height: auto;
    min-height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
.modal-header, .modal-footer {
  border: none;
}

  input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid $brand-color;
    text-align: center;
    line-height: 2;
    color: white;
    &:focus, &:active {
      outline: none;
      border-bottom: 2px solid $brand-color;
    }
  }


.close > span:not(.sr-only) {
  color: white;
  font-size: 2rem;
}

}
